
	<!-- Page info -->
	<div class="page-info-section set-bg" data-setbg="assets/images/page-bg/4.jpg">
		<div class="container">
			<div class="site-breadcrumb">
				<span class="quote1"><i>If your <span class="rea-or">reasons</span>are strong; your <span
							class="rea-or">results</span>will inspire!!</i></span>
				<br>
				<span class="auth1">Ajaya Panda</span>
			</div>
		</div>
	</div>


	<section class="vission-mission">
		<div class="container-mis">
			<div class="row">
				<div class="col-md-6 col-sm-12 pad0">

					<img src="assets/images/mission/vision.png" alt="">


				</div>

				<div class="col-md-6 col-sm-12 pad0">

					<img src="assets/images/mission/mission.png" alt="">

				</div>

			</div>
		</div>
	</section>
	<!-- 
<section class="vission-mission">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="img1">
					<img src="img/mission/vision.png" alt="">
				</div>

			</div>
			<div class="col-md-3">
				<h2>Vision</h2>
				<p>To design and create life Transformation journies for peopleacross the world,being driven by empathy, energy and result orientation</p>
			</div>
			<div class="col-md-3">
				<div class="img1">
					<img src="img/image-high.jpg" alt="">
				</div>
			</div>
			<div class="col-md-3">
				<h2>Mission</h2>
				<p>Working on a mission to rebooot LIVES of 1million+ people around the world by 2021.. </p>
			</div>
		</div>
	</div>
</section> -->

	<hr color="white" id="srteam">
	<div class="colorlib-trainers">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-12 col-md-offset-2 text-center colorlib-heading animate-box">
					<h2>WE</h2>

				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-12 animate-box">
					<a href="assets/images/teampages/manohar.html">
						<div class="trainers-entry top-ppl">
							<div class="trainer-img" style="background-image: url(assets/images/person4.jpg)"></div>
							<div class="desc">
								<h3>Manohar Nair</h3>
								<span>Chief Advisor</span>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-sm-12 animate-box">
					<a href="teampages/ajayapanda.html">
						<div class="trainers-entry top-ppl">
							<div class="trainer-img" style="background-image: url(assets/images/person1.jpg)"></div>
							<div class="desc">
								<h3>Ajaya Panda</h3>
								<span>Founder & CEO</span>
							</div>
						</div>
					</a>
				</div>

				<div class="col-md-4 col-sm-12 animate-box">
					<a href="teampages/akashdutta.html">
						<div class="trainers-entry top-ppl">
							<div class="trainer-img" style="background-image: url(assets/images/person2.jpg)"></div>
							<div class="desc">
								<h3>Akash Dutta</h3>
								<span>L&D Director</span>
							</div>
						</div>
					</a>
				</div>

			</div>
		</div>
	</div>
	<hr color="black">

	<!-- checking  -->
	<div class="container">
		<div class="row">



		</div>
	</div>

	<!-- <section class="vission-mission">
		<div class="container-chooseus">
			<div class="row">
					<div class="col-md-6 pad0">
							<h3>OUR BELIEF SYSTEM</h3>
							<div class="sentence">
								<i class="fa fa-check faicon"></i>
								<h6>WE BELIEVE IN PEOPLE’S ABILITY TO DO BIG AND ACHIEVE BIG</h6>
								<p>We emphasise and invest in nurturing the hidden potentials of every human being</p>
							</div>
							<div class="sentence">
								<i class="fa fa-check faicon"></i>
								<h6>WE BELIEVE IN INSPIRING RESULTS</h6>
								<p>we equip individuals and teams with tools and techniques to inspire oneself everyday.</p>
							</div>
			
							<div class="sentence">
								<i class="fa fa-check faicon"></i>
								<h6>WE BELIEVE IN EMPATHY, EMPOWERMENT AND EXECUTION</h6>
								<p>we influence indivudials and teams to set GOALS and ACT to achieve</p>
							</div>
						</div>
						<div class="col-md-6 lookingforsolutions pad0">
							<h2 class="smue-cta-content-heading"> LOOKING FOR BEST RESULTS?
								 <br>WE HAVE SOLUTIONS FOR YOU</h2>
							
								 <p class="smue-cta-content-text"><strong>Our Methodology:</strong>  un-Learn, Fun-Learn re-Learn</p>
						<a href="contact.html"></a>
								</div>
				
			</div>
		</div>
	</section> -->

	<section class="vission-mission">
		<div class="container visionlist">
			<div class="row">
				<div class="col-md-2 col-sm-12"></div>
				<div class="col-md-8 col-sm-12">
					<h3>OUR BELIEF SYSTEM</h3>
					<div class="sentence">
						<i class="fa fa-check faicon"></i>
						<h6>WE BELIEVE IN PEOPLE’S ABILITY TO DO BIG AND ACHIEVE BIG.</h6>
						<p>We emphasise and invest in nurturing the hidden potentials of every human being.</p>
					</div>
					<div class="sentence">
						<i class="fa fa-check faicon"></i>
						<h6>WE BELIEVE IN INSPIRING RESULTS.</h6>
						<p>we equip individuals and teams with tools and techniques to inspire oneself everyday..</p>
					</div>

					<div class="sentence">
						<i class="fa fa-check faicon"></i>
						<h6>WE BELIEVE IN EMPATHY, EMPOWERMENT AND EXECUTION.</h6>
						<p>we influence indivudials and teams to set GOALS and ACT to achieve.</p>
					</div>
				</div>

				<div class="col-md-2 col-sm-12"></div>
				<div class="row">

				</div>

				

			</div>
		</div>
		<div class="looking4sol">
				<h2 class="smue-cta-content-heading">Looking for best results? We have solutions for you</h2>
				<p class="smue-cta-content-text"><strong>Our Methodology:</strong> Un-Learn, Fun-Learn & Re-Learn</p>


			</div>
	</section>




	<div class="container"  id="jrteam">
		<div class="row">
			<div class="col-md-8 col-sm-12 col-md-offset-2 text-center colorlib-heading animate-box">
				<h2>Our L & D Team</h2>
			</div>
		</div>
		<div class="consul-team">
			<div class="animate-box">
				<a href="teampages/smitha.html">
					<div class="trainers-entry">
						<div class="trainer-img" style="background-image: url(assets/images/person5.jpg)"></div>
						<div class="desc">
							<h3>Smitha Srikanth</h3>
							<span>L & D Consultant</span>
						</div>
					</div>
				</a>
			</div>
			<div class="animate-box">
				<a href="teampages/saiprasad.html">
					<div class="trainers-entry">
						<div class="trainer-img" style="background-image: url(assets/images/person7.jpg)"></div>
						<div class="desc">
							<h3>Sai Prasad</h3>
							<span>L & D Consultant</span>
						</div>
					</div>
				</a>
			</div>





			<div class="animate-box">
				<a href="assets/images/teampages/pinky.html">
					<div class="trainers-entry">
						<div class="trainer-img" style="background-image: url(assets/images/person3.jpg)"></div>
						<div class="desc">
							<h3>Pinky Saha</h3>
							<span>L & D Consultant</span>
						</div>
					</div>
				</a>
			</div>
			<div class="animate-box">
				<a href="teampages/amit.html">
					<div class="trainers-entry">
						<div class="trainer-img" style="background-image: url(assets/images/person6.jpg)"></div>
						<div class="desc">
							<h3>Amit Jadhav</h3>
							<span>L & D Consultant</span>
						</div>
					</div>
				</a>
			</div>
			<div class="animate-box">
				<a href="teampages/yogitha.html">
					<div class="trainers-entry">
						<div class="trainer-img" style="background-image: url(assets/images/person9.jpg)"></div>
						<div class="desc">
							<h3>Dr. Yogitha NM</h3>
							<span>L & D Consultant</span>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>

	<!-- Page end -->

