<!-- footer section -->
<footer class="footer-section spad pb-0">
  <div class="footer-top">
    <div class="footer-warp">
      <div class="row">

        <div class="widget-item">
          <h4>Our Services</h4>
          <hr>
          <ul>
            <li><a href="innerpages/talentmanagement.html">Talent Development</a></li>
            <li><a href="innerpages/talentnourishment.html">Talent Nourishment</a></li>
            <li><a href="innerpages/talentengagement.html">Talent Engagement</a></li>
            <li><a href="innerpages/Boot-Camps.html">Transformational Boot-Camps</a></li>
            <li><a href="innerpages/corporatecoaching.html">Corporate Coaching Solutions</a></li>
            <li><a href="innerpages/Start-up.html">Start-Up/Entrepreneur Support</a></li>

          </ul>
        </div>
        <div class="widget-item">
          <h4>Our events</h4>
          <hr>
          <ul>
            <li><a href="events.html#mission10xr">Mission 10X</a></li>
            <li><a href="events.html">Rise Up</a></li>
  

          </ul>
        </div>
        <div class="widget-item">
          <h4>Our Philosophy</h4>
          <hr>
          <strong><i>“There is only one boss.The customer,and he can fire everybody in the company from
              the chairman on down ,simply by spending his money somewhere else”</i></strong>
          <br><br>
          <h5 style="float: right;">-Sam Walton</h5>
        </div>
        <div class="widget-item">

          <h4>Contact Info</h4>
          <hr>
          <ul class="contact-list">
            <li>Habsiguda ,Hyderabad</li>
            <li>Sai Prasad - +91 96922 80180</li>
            <li>mission1million@reboootlife.in</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-warp">
      <ul class="footer-menu">
        <li><a href="galary.html">Gallery</a></li>
        <li><a href="index.html">రిబూట్ లైఫ్ సొల్యూషన్స్ ప్రైవేట్ లిమిటెడ్ </a></li>
      </ul>
      <div class="copyright">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;
        <script>document.write(new Date().getFullYear());</script> All rights reserved | <a
          href="https://reboootlife.in" target="_blank">reboootLIFE solutions Pvt. Ltd.</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </div>
    </div>
  </div>
</footer>