
	<div class="title-name">
		<h2>Our Corporate Interventions</h2>
	</div>

	<!-- Page info -->
	<div class="container1">
		<div class="box">
			<div class="boxInner">
				<img src="assets/images/pics13022019/strides1.jpg" />

			</div>
		</div>
		<div class="box">
			<div class="boxInner">
				<img src="assets/images/pics13022019/strides2.jpg" />

			</div>
		</div>
		<div class="box">
			<div class="boxInner">
				<img src="assets/images/pics13022019/strides3.jpg" />

			</div>
		</div>

		<div class="box box1">
			<div class="boxInner">
				<img src="assets/images/pics13022019/strides4.jpg" />

			</div>
		</div>

	</div>
	<div class="container1">
		<div class="box">
			<div class="boxInner">
				<img src="assets/images/pics13022019/ak1.jpg" />

			</div>
		</div>
		<div class="box">
			<div class="boxInner">
				<img src="assets/images/pics13022019/ak2.jpg" />

			</div>
		</div>
		<div class="box box1">
			<div class="boxInner">
				<img src="assets/images/pics13022019/ak3.jpg" />

			</div>
		</div>
		<div class="box box1">
			<div class="boxInner">
				<img src="assets/images/pics13022019/ak4.jpg" />

			</div>
		</div>

	</div>
	<div class="container1">
		<div class="box">
			<div class="boxInner">
				<img src="assets/images/pics13022019/mh1.jpg" />

			</div>
		</div>
		<div class="box">
			<div class="boxInner">
				<img src="assets/images/pics13022019/mh2.jpg" />

			</div>
		</div>
		<div class="box">
			<div class="boxInner">
				<img src="assets/images/pics13022019/mh3.jpg" />

			</div>
		</div>
		<div class="box box1">
			<div class="boxInner">
				<img src="assets/images/pics13022019/mh4.jpg" />

			</div>
		</div>

	</div>

	<div class="container1">
		<div class="box">
			<div class="boxInner">
				<img src="assets/images/pics13022019/ak11.jpg" />

			</div>
		</div>
		<div class="box">
			<div class="boxInner">
				<img src="assets/images/pics13022019/ak12.jpg" />

			</div>
		</div>
		<div class="box">
			<div class="boxInner">
				<img src="assets/images/pics13022019/ak13.jpg" />

			</div>
		</div>
		<div class="box box1">
			<div class="boxInner">
				<img src="assets/images/pics13022019/ak14.jpg" />

			</div>
		</div>

	</div>


	<div class="container1">
		<div class="box">
			<div class="boxInner">
				<img src="assets/images/pics13022019/tata1.jpg" />

			</div>
		</div>
		<div class="box">
			<div class="boxInner">
				<img src="assets/images/pics13022019/tata2.jpg" />

			</div>
		</div>
		<div class="box">
			<div class="boxInner">
				<img src="assets/images/pics13022019/tata3.jpg" />

			</div>
		</div>
		<div class="box box1">
			<div class="boxInner">
				<img src="assets/images/pics13022019/tata4.jpg" />

			</div>
		</div>

	</div>

