
	<!-- Header section -->
	<header class="header-section">
		<div class="social-links">
			<a href="https://www.facebook.com/reboootLIFE.in/?ref=bookmarks"><i class="fa fa-facebook"></i></a>
			<a href="https://twitter.com/Ajaya_rebooot"><i class="fa fa-twitter"></i></a>
			<a href="https://www.instagram.com/ajay.happylyf/?hl=en"><i class="fa fa-instagram"></i></a>
			<a href="https://www.youtube.com/channel/UC3mP3eQ4mPDEDgbn3zFKSFg"><i class="fa fa-youtube"></i></a>
			<a href="https://www.linkedin.com/in/ajaya-panda-37404b16/"><i class="fa fa-linkedin"></i></a>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3">
					<div class="site-logo">
						<img src="assets/images/logo.png" alt="">
					</div>
					<div class="nav-switch">
						<i class="fa fa-bars"></i>
					</div>
				</div>
				<div class="col-lg-9 col-md-9">
					<a routerLink="mission10xr" class="site-btn header-btn">Click 4 Solutions</a>
					<nav class="main-menu">
						<ul>
							<li><a routerLink="home" routerLinkActive="active">Home</a></li>
							<li><a routerLink="aboutus">About us</a></li>
							<li><a routerLink="services" >Our Services</a></li>
							<li><a  routerLink="events">Events</a></li>
							<li><a routerLink="gallery" >Galary</a></li>
							<li><a routerLink="contactus" >Contact</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- Header section end -->