<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>


	<!-- Hero section -->
	<section class="hero-section set-bg" data-setbg="assets/images/bg.jpg">
		<div class="container">
			<div class="hero-text text-white">
				<h2>WELCOME TO </h2>
				<h4>reb<span class="orange">ooo</span>t LIFE solutions Pvt. Ltd.</h4>
			</div>
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<form class="intro-newslatter">
						<input type="text" placeholder="Name">
						<input type="text" class="last-s" placeholder="E-mail">
						<button class="site-btn">Sign Up Now</button>
					</form>
				</div>
			</div>
			<div class="thankyou">
				<h2>Thank you for visiting us online!! </h2>

			</div>
			
		</div>
	</section>
	<!-- Hero section end -->



	<!-- categories section -->
	<section class="categories-section spad">
		<div class="container">
			<div class="section-title">

				<h2>Our Services</h2>
				<p>Read on....! to Learn about our Talent Transformation Initiatives </p>
			</div>
			<div class="row">
				<!-- categorie -->
				<div class="col-lg-4 col-md-6 col-sm-12">
					<a href="services.html">
						<div class="categorie-item">
							<div class="ci-thumb set-bg" data-setbg="assets/images/categories/1.jpg"></div>
							<div class="ci-text">
								<h5>Talent Development</h5>
							</div>
						</div>
					</a>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6 col-sm-12">
					<a href="services.html">
						<div class="categorie-item">
							<div class="ci-thumb set-bg" data-setbg="assets/images/categories/2.jpg"></div>
							<div class="ci-text">
								<h5>Talent Engagement</h5>
							</div>
						</div>
					</a>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6 col-sm-12">
					<a href="services.html">
						<div class="categorie-item">
							<div class="ci-thumb set-bg" data-setbg="assets/images/categories/3.jpg"></div>
							<div class="ci-text">
								<h5>Talent Nourishment</h5>

							</div>
						</div>
					</a>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6 col-sm-12">
					<a href="services.html">
						<div class="categorie-item">
							<div class="ci-thumb set-bg" data-setbg="assets/images/categories/4.jpg"></div>
							<div class="ci-text">
								<h5>Public Workshops</h5>

							</div>
						</div>
					</a>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6 col-sm-12">
					<a href="services.html">
						<div class="categorie-item">
							<div class="ci-thumb set-bg" data-setbg="assets/images/categories/5.jpg"></div>
							<div class="ci-text">
								<h5>Coaching Solutions</h5>
							</div>
						</div>
					</a>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6 col-sm-12">
					<a href="services.html">
						<div class="categorie-item">
							<div class="ci-thumb set-bg" data-setbg="assets/images/categories/6.jpg"></div>
							<div class="ci-text">
								<h5>Start-up Solutions</h5>


							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- categories section end -->


	<!-- signup section -->
	<section class="signup-section spad">

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="signup-bg set-bg"   data-setbg="assets/images/signup-bg.jpg">
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="signup-warp">
						<div class="section-title text-white text-left">
							<h2>Webinar coming soon.....</h2>
							<h1>Ajaya is coming soon to talk on Mission 2019</h1>
						</div>
					</div>
					
				</div>

			</div>
		</div>
	</section>
	<!-- signup section end -->
	<!-- slider -->
	<section class="slider-company">
		<div class="container">
			<h2>Our Privileged Associations</h2>
			<br>
			<section class="customer-logos slider">

				<div class="slide"><img src="../assets/images/companylogos/10.jpg"></div>
				<div class="slide"><img src="../assets/images/companylogos/3.jpg"></div>
				<div class="slide"><img src="../assets/images/companylogos/4.jpg"></div>
				<div class="slide"><img src="../assets/images/companylogos/15.jpg"></div>
				<div class="slide"><img src="../assets/images/companylogos/16.png"></div>
				<div class="slide"><img src="../assets/images/companylogos/11.png"></div>
				<div class="slide"><img src="../assets/images/companylogos/12.png"></div>
				<div class="slide"><img src="../assets/images/companylogos/13.jpg"></div>
				<div class="slide"><img src="../assets/images/companylogos/17.png"></div>

			</section>


		</div>
	</section>