<section>
    <div id="hero_section" data-vc-full-width="true" data-vc-full-width-init="true"
        class="vc_row wpb_row vc_row-fluid vc_custom_1548048318663 vc_row-has-fill vc_video-bg-container"
        style="position: relative;left: 14.5px;    top: 77px;width: 100%">
        <div class="vc_video-bg vc_hidden-xs"><iframe class="inner" width="100%" height="100%"
                src="https://www.youtube.com/embed/Rd6hqOhnP1s?controls=0&amp;rel=0&amp;autoplay=1&amp;mute=1&amp;loop=0"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                id="widget2" style="max-width: 100%; margin-left: 0px;  width: 100%; height: 758.813px;"></iframe>

        </div>
        <div class="wpb_column vc_column_container vc_col-sm-12">



            <br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


        </div>
    </div>
</section>

<!-- bg-section -->


<!-- content -->
<section class="content mar-tb15">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <img src="assets/images/programs/DSCN2822.JPG" alt="">
            </div>
            <div class="col-md-6">

                <h2>Invest in this
                    course and learn to:</h2>
                <h4>Understand the unlimited power of the inner you,</h4>
                <h4>Crush your self-limiting beliefs and then Uplift the true spirit of</h4>

                <h4><i>(read with your name here)</i></h4>
                <h4>with the mind-set & momentum to kick start your</h4>
                <h4>Life Transformation Journey on the powerful principles of</h4>
                <h2>mIssion 10XR @ 2019 & beyond...</h2>
                <h4 class="letersp">We are committed to give you minimum 10X of ROI</h4>

            </div>

        </div>
    </div>
</section>
<!-- content end -->



<!-- about teacher -->

<section class="teacher">
    <h3 class="">Meet Your Master Coach</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="aj3" src="assets/images/programs/aj3.JPG" alt="">

            </div>
            <div class="col-md-6">

                <div class="abt-teacher">

                    <p>
                        <span>
                            <strong class="red1">Ajaya Panda </strong>
                            is a person of “people and results”.
                            He has trained and coached thousands of corporate professionals and students across
                            industries in various aspects of Behavioural Skills and Life Skills.
                            He is a Master Motivator and is Passionate about Creating Leaders.
                        </span>
                    </p>
                    <p>
                        <span>
                            He is a person who loves people and lives for their Dreams. He quotes
                            <span class="red1">
                                <i>
                                    <span>“If your reasons
                                        are strong; your results will inspire.”

                                    </span>
                                </i>
                                He launched his dream website “www.reboootlife.in” and exactly after one year and six
                                days his own m
                                <span class="red1"><strong>I</strong></span>
                                ssion 10
                                <span class="red1">
                                    <strong>X</strong></span>

                                R created
                                <h2 class="red1">“rebooot LIFE solutions Pvt.
                                    Ltd." </h2>
                            </span>
                        </span>
                    </p>


                </div>

            </div>


        </div>
    </div>
</section>


<!-- content -->
<section class="mission-grp">
    <div class="container">
        <h2>How to achieve your <br> Unlimited
            Dreams in limited
            LIFE @ 10XR Speed!</h2>
        <div class="row">
            <div class="col-md-6">
                <img src="assets/images/programs/mission10xr-group.jpg" alt="">
                <section class="buy-gift">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="buttons">
                                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdMP3t9uSHbxJZZvfpoELRZPjy-bmFdOt2ERfdlMOT5FN8flw/viewform"
                                    class="red">Invest 4 Self</a>
                                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdMP3t9uSHbxJZZvfpoELRZPjy-bmFdOt2ERfdlMOT5FN8flw/viewform"
                                    class="blue">Gift 2 Loved Ones</a>
                            </div>
                        </div>
                    </div>

                </section>

            </div>
            <div class="col-md-6">



                <h4>In a Life which is limited without Choice of
                    time, in that to achieve the
                    unlimited Dreams of health, wealth, relationship, job, business,
                    career and joy.</h4>

                <h4> we got to drive ourselves to achieve those dreams @ 10X speed.
                    In which the evident accidents can only be
                    eliminated with the high quality Discipline and researched
                    principles of
                    "mIssion 10XR"</h4>

                <!-- <h4><i>(read with your name here)</i></h4> -->
                <h4> Join our Community where we shall work with
                    you hand-in-hand to help, support and coach you to achieve your
                    unlimited
                    dreams in the limited life-much before time.</h4>
                <!-- <h2>mIssion 10XR </span> @ 2019 & beyond..</h2>
                        <h4 class="letersp">We are committed to give you minimum 10X of ROI</h4> -->

            </div>

        </div>
    </div>
</section>
<!-- content end -->


<!-- momentum in life -->
<section class="momentum">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="fontsize"> You're just a click away </span><br>
                <h2> from unlearning your limiting beliefs and learning to create an
                    unlimited mindset <br> to grow faster in your carreer, business, & grow better in health,
                    relationships. <br>
                    Our program has all the ingredients to create a momentum to make it happen @ 2019 & beyond...
                </h2>

                <h4>We will support & coach you after the workshop to achieve your Unlimited Dreams in the Limited
                    Life.</h4>
                <div class="buttons">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdMP3t9uSHbxJZZvfpoELRZPjy-bmFdOt2ERfdlMOT5FN8flw/viewform"
                        class="purered">Invest 4 Self</a>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdMP3t9uSHbxJZZvfpoELRZPjy-bmFdOt2ERfdlMOT5FN8flw/viewform"
                        class="purered">Gift 2 Loved Ones</a>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- what attendees are saying -->
<section class="attendees">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="wpb_wrapper">
                    <div class="vc_empty_space" style="height: 10px"><span class="vc_empty_space_inner"></span>
                    </div>
                    <div class="themeum-title  " style="text-align:center;">
                        <h4 class="style-title">
                            What our Participant Friends are speaking about our previous workshops..</h4>
                    </div>
                    <div class="row">


                        <div class="col-md-4">
                            <div class="themeum-person ">
                                <div class="themeum-person-image"><img src="assets/images/programs/atendes/two.JPG"
                                        class="img-responsive lazy-loaded" alt="photo"></div>
                                <div class="person-details">
                                    <h3 class="person-title">Anirudh</h3>
                                </div>
                                <div class="social-icon">
                                    <ul class="list-unstyled list-inline"></ul>
                                </div>
                            </div>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <p>I brought a lot back from the workshop which will definitely improve as a
                                        person.
                                        The workshop was transformational. I felt empowered and eagerly waiting
                                        for ‘LEVEL-2’ workshop and Ajaya Panda (My Lucky Charm).
                                    </p>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="themeum-person ">
                                <div class="themeum-person-image"><img src="assets/images/programs/atendes/three.JPG"
                                        class="img-responsive lazy-loaded" alt="photo"></div>
                                <div class="person-details">
                                    <h3 class="person-title">Ananth</h3>

                                </div>
                                <div class="social-icon">
                                    <ul class="list-unstyled list-inline"></ul>
                                </div>
                            </div>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <p>The wonderful workshop by Mr. Ajaya Panda was nothing short of
                                        spectacular. I must say, I have been to workshops of different kind in the
                                        past, but this one is special to my knowledge, attending one of the amazing
                                        sessions. This workshop made it possible in overcoming my inner conflict,
                                        fear, getting ahead with my dreams. I am eager to experience the “Level – 2”
                                        workshop.</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="themeum-person ">
                                <div class="themeum-person-image"><img src="assets/images/programs/atendes/four.jpg"
                                        class="img-responsive lazy-loaded" alt="photo"></div>
                                <div class="person-details">
                                    <h3 class="person-title">Ramya</h3>
                                </div>
                                <div class="social-icon">
                                    <ul class="list-unstyled list-inline"></ul>
                                </div>
                            </div>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <p>The workshop by Mr. Ajaya Panda was incredible for going deep &
                                        deep within yourself. After the workshop, I received much clarity and clear
                                        guidance about what my DREAMs were trying to tell me.. I strongly suggest
                                        each and everyone to be a part of DATE YOUR DREAMS, and make your dreams
                                        come true.
                                    </p>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- what attendees are saying  end -->
<hr>
<!-- participants videos -->
<section class="vid-pntps">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div
                    class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
                    <div class="wpb_wrapper">
                        <div class="wpb_video_wrapper"><iframe class="lazy-loaded" width="100%" height="281"
                                data-lazy-type="iframe"
                                data-src="https://www.youtube.com/embed/oYeJfW5GcHk?feature=oembed" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen=""
                                src="https://www.youtube.com/embed/oYeJfW5GcHk?feature=oembed"></iframe><noscript><iframe
                                    width="100%" height="281"
                                    src="https://www.youtube.com/embed/oYeJfW5GcHk?feature=oembed" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe></noscript></div>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div
                    class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
                    <div class="wpb_wrapper">
                        <div class="wpb_video_wrapper"><iframe class="lazy-loaded" width="100%" height="281"
                                data-lazy-type="iframe"
                                data-src="https://www.youtube.com/embed/-Wv3EC3-tPk?feature=oembed" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen=""
                                src="https://www.youtube.com/embed/-Wv3EC3-tPk?feature=oembed"></iframe><noscript><iframe
                                    width="100%" height="281"
                                    src="https://www.youtube.com/embed/-Wv3EC3-tPk?feature=oembed" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe></noscript></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- participants videos end-->