<!-- Page info -->
<div class="page-info-section set-bg" data-setbg="assets/images/page-bg/4.jpg">
  <div class="container">
    <div class="site-breadcrumb">

      <span class="quote1">Life is 10% what happens to us and 90% how we react to it.</span>
    </div>
  </div>
</div>
<!-- Page info end -->

<div>
  <!-- Page -->
  <section class="contact-page spad pb-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="contact-form-warp">
            <div class="section-title text-white text-left">
              <h2>Get in Touch</h2>
              <p>reach us any time .</p>
            </div>
            <form class="contact-form"
              action="https://docs.google.com/forms/d/e/1FAIpQLSc3nFKQRFWVnTk2LBRdHSkdFhHalfpAo5iTG-c99GjMuSt3nQ/formResponse"
              target="_self" method="post">
              <input type="text" name="name" id="name" placeholder="Your Name">
              <input type="text" name="mail" id="mail" placeholder="Your E-mail">
              <input type="text" name="number" id="number" placeholder="Mobile Number">
              <textarea name="message" id="message" placeholder="Message"></textarea>
              <button class="site-btn" onclick="buttonclick()">Send Details</button>
            </form>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="contact-info-area">
            <div class="section-title text-left p-0">
              <h2>Contact Info</h2>

            </div>
            <div class="phone-number">
              <span>Sai Prasad</span>
              <h2>+91 96922 80180</h2>
            </div>
            <ul class="contact-list">
              <li>Habsiguda ,Hyderabad</li>
              <li>mission1million@reboootlife.in</li>
            </ul>
            <div class="social-links">
              <a href="https://www.facebook.com/reboootLIFE.in/?ref=bookmarks"><i
                  class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/Ajaya_rebooot"><i class="fa fa-twitter"></i></a>
              <a href="https://www.instagram.com/ajay.happylyf/?hl=en"><i
                  class="fa fa-instagram"></i></a>
              <a href="https://www.youtube.com/channel/UC3mP3eQ4mPDEDgbn3zFKSFg"><i
                  class="fa fa-youtube"></i></a>
              <a href="https://www.linkedin.com/in/ajaya-panda-37404b16/"><i
                  class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- <div id="map-canvas"></div> -->
      <br>

  <!-- Page end -->
</div>