
	<!-- Page info -->
	<div class="page-info-section set-bg" data-setbg="assets/images/page-bg/3.jpg">
		<div class="container">
			<div class="site-breadcrumb">

				<h2>SERVICES – SOLUTIONS – SMILES</h2>
				<!-- <p>Excellent customer Service is the number one job in any company! it is the personality of the company and the reason customers come back and without customers </p> -->
			</div>
		</div>
	</div>
	<!-- Page info end -->
	<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

	<!-- course section -->
	<section class="course-section spad">

		<div class="course-warp">
			<ul class="course-filter controls">
				<!-- <li class="control active" data-filter="all">All</li> -->
				<li class="control" data-filter=".finance">Talent Development</li>
				<li class="control" data-filter=".design">Talent Engagement</li>
				<li class="control" data-filter=".web">Talent Nourishment</li>
				<li class="control" data-filter=".boot">Public Workshops</li>
				<li class="control" data-filter=".corporate">Coaching Sols</li>
				<li class="control" data-filter=".startup">Start-Up Sols</li>
				<!-- <li class="control" data-filter=".photo">Photography</li> -->
			</ul>
			<div class="row course-items-area">
				<!-- course -->
				<div class="mix col-lg-3 col-md-2 col-sm-6 finance">
					<div class="course-item">
						<div class="course-thumb set-bg" data-setbg="assets/images/type-B/dev2.jpg">

						</div>
						<div class="course-info">
							<div class="course-text">
								<h5>Leadership Development Programs</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="mix col-lg-3 col-md-2 col-sm-6 finance">
					<div class="course-item">
						<div class="course-thumb set-bg" data-setbg="assets/images/type-D/7.jpg"></div>
						<div class="course-info">
							<div class="course-text">
								<h5>Performance Development Programs</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="mix col-lg-3 col-md-2 col-sm-6 finance">
					<div class="course-item">
						<div class="course-thumb set-bg" data-setbg="assets/images/type-D/5.jpg">

						</div>
						<div class="course-info">
							<div class="course-text">
								<h5>Customer Relationship Development Programs</h5>
							</div>
						</div>
					</div>
				</div>

				<div class="mix col-lg-3 col-md-2 col-sm-6 finance">
					<div class="course-item">
						<div class="course-thumb set-bg" data-setbg="assets/images/type-D/11.jpg">

						</div>
						<div class="course-info">
							<div class="course-text">
								<h5>Result Oriented Communication Development Programs</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="mix col-lg-3 col-md-2 col-sm-6 finance">
					<div class="course-item">
						<div class="course-thumb set-bg" data-setbg="assets/images/type-D/2.jpg">

						</div>
						<div class="course-info">
							<div class="course-text">
								<h5>Sales Force Development Programs</h5>
							</div>
						</div>
					</div>
				</div>

				<!-- course -->
				<div class="mix col-lg-3 col-md-2 col-sm-6 design">
					<div class="course-item">
						<div class="course-thumb set-bg" data-setbg="assets/images/type-A/2.jpg">

						</div>
						<div class="course-info">
							<div class="course-text">
								<h5>Organisational Culture Development Programs</h5>
							</div>

						</div>
					</div>
				</div>
				<div class="mix col-lg-3 col-md-2 col-sm-6 design">
					<div class="course-item">
						<div class="course-thumb set-bg" data-setbg="assets/images/type-A/1.jpg">

						</div>
						<div class="course-info">
							<div class="course-text">
								<h5>Organisational Climate Development Programs</h5>
							</div>

						</div>
					</div>
				</div>


				<div class="mix col-lg-3 col-md-2 col-sm-6 web">
					<div class="course-item">
						<div class="course-thumb set-bg" data-setbg="assets/images/type-C/1.jpg">
						</div>
						<div class="course-info">
							<div class="course-text">
								<h5>School Student Development Programs</h5>
							</div>

						</div>
					</div>
				</div>
				<div class="mix col-lg-3 col-md-2 col-sm-6 web">
					<div class="course-item">
						<div class="course-thumb set-bg" data-setbg="assets/images/type-C/2.jpg">
						</div>
						<div class="course-info">
							<div class="course-text">
								<h5>School Teachers Development Programs</h5>
							</div>

						</div>
					</div>
				</div>

				<!-- course -->
				<div class="mix col-lg-3 col-md-2 col-sm-6 web">
					<div class="course-item">
						<div class="course-thumb set-bg" data-setbg="assets/images/type-C/4.png">

						</div>
						<div class="course-info">
							<div class="course-text">
								<h5>Professional Students Development Programs</h5>


							</div>

						</div>
					</div>
				</div>
				<div class="mix col-lg-3 col-md-2 col-sm-6 web">
					<div class="course-item">
						<div class="course-thumb set-bg" data-setbg="assets/images/type-C/5.png">
						</div>
						<div class="course-info">
							<div class="course-text">
								<h5>Professional Faculty Development Programs</h5>
							</div>

						</div>
					</div>
				</div>
				<div class="mix col-lg-3 col-md-2 col-sm-6 web">
					<div class="course-item">
						<div class="course-thumb set-bg" data-setbg="assets/images/type-C/3.jpg">
						</div>
						<div class="course-info">
							<div class="course-text">
								<h5>College Students Development Programs</h5>
							</div>

						</div>
					</div>
				</div>

				<!-- course -->


				<div class="mix col-lg-3 col-md-2 col-sm-6 web">
					<div class="course-item">
						<div class="course-thumb set-bg" data-setbg="assets/images/type-C/6.jpg">
						</div>
						<div class="course-info">
							<div class="course-text">
								<h5>College Faculty Development Programs</h5>
							</div>

						</div>
					</div>
				</div>

				<div class="mix col-lg-3 col-md-2 col-sm-6 boot">
					<div class="course-item">
						<div class="course-thumb set-bg" data-setbg="assets/images/mission/vem.jpg">
						</div>
						<div class="course-info">
							<div class="course-text">
								<h5>mIssion 10XR</h5>
							</div>

						</div>
					</div>
				</div>
				<div class="mix col-lg-3 col-md-2 col-sm-6 boot">
					<div class="course-item">
						<div class="course-thumb set-bg" data-setbg="assets/images/mission/vm8.jpg">
						</div>
						<div class="course-info">
							<div class="course-text">
								<h5>Speak To Influence</h5>
							</div>

						</div>
					</div>
				</div>
				<div class="mix col-lg-3 col-md-2 col-sm-6 corporate">
					<div class="course-item">
						<div class="course-thumb set-bg" data-setbg="assets/images/type-E/coaching.jpg">
						</div>
						<div class="course-info">
							<div class="course-text">
								<h5>For Corporate Professionals</h5>
							</div>

						</div>
					</div>
				</div>
				<div class="mix col-lg-3 col-md-2 col-sm-6 corporate">
					<div class="course-item">
						<div class="course-thumb set-bg" data-setbg="assets/images/type-E/coaching.jpg">
						</div>
						<div class="course-info">
							<div class="course-text">
								<h5>For Corporate Teams</h5>
							</div>

						</div>
					</div>
				</div>
				<div class="mix col-lg-3 col-md-2 col-sm-6 corporate">
					<div class="course-item">
						<div class="course-thumb set-bg" data-setbg="assets/images/type-E/coaching.jpg">
						</div>
						<div class="course-info">
							<div class="course-text">
								<h5>For Entreprenuers</h5>
							</div>

						</div>
					</div>
				</div>
				<div class="mix col-lg-3 col-md-2 col-sm-6 startup">
					<div class="course-item">
						<div class="course-thumb set-bg" data-setbg="assets/images/type-E/startup3.jpg">
						</div>
						<div class="course-info">
							<div class="course-text">
								<h5>Leadership Development Programs</h5>
							</div>

						</div>
					</div>
				</div>
				<div class="mix col-lg-3 col-md-2 col-sm-6 startup">
					<div class="course-item">
						<div class="course-thumb set-bg" data-setbg="assets/images/type-E/startup3.jpg">
						</div>
						<div class="course-info">
							<div class="course-text">
								<h5>Team Performance Development Programs</h5>
							</div>

						</div>
					</div>
				</div>

				<!-- course -->

				<div class="mix col-lg-3 col-md-2 col-sm-6 startup">
					<div class="course-item">
						<div class="course-thumb set-bg" data-setbg="assets/images/type-E/startup4.jpg">
						</div>
						<div class="course-info">
							<div class="course-text">
								<h5>Business Presentation skills Development Programs</h5>
							</div>

						</div>
					</div>
				</div>

				<div class="mix col-lg-3 col-md-2 col-sm-6 startup">
					<div class="course-item">
						<div class="course-thumb set-bg" data-setbg="assets/images/type-E/startup1.png">
						</div>
						<div class="course-info">
							<div class="course-text">
								<h5>Sales Force Development Programs</h5>
							</div>

						</div>
					</div>
				</div>
				<!-- course -->


			</div>
		</div>
	</section>
	<!-- course section end -->
