	<!-- Page info -->
	<div class="page-info-section set-bg" style="background: url(assets/images/page-bg/1.jpg);" data-setbg="assets/images/page-bg/1.jpg">
		<div class="container">

			<div class="row programs">
				<a href="allprograms/missio10xr.html" class="amis">mIssion 10XR</a>
				<a href="#" class="aspk">Speak 2 Influence</a>
			</div>
		</div>
	</div>
	<!-- Page info end -->
	<!-- Page  -->
	<section class="blog-page spad pb-0" id="mission10xr">
		<div class="container">
			<div class="row">

				<div class="col-lg-12">
					<!-- blog post -->
					<div class="blog-post">
						<h3>Mission 10XR</h3>
						<img src="assets/images/mission/vem.jpg" alt="vissoin">

						<div class="blog-metas">
							<div class="blog-meta author">
								<!-- <div class="post-author set-bg" data-setbg="assets/images/authors/1.jpg"></div> -->
								<a href="#">Hyderabad</a>
							</div>
							<div class="blog-meta">
								<a href="#">11-12 May 2019</a>
							</div>
							<div class="blog-meta">
								<a href="#" download>Download</a>
							</div>
						</div>
						<a href="allprograms/missio10xr.html" class="site-btn readmore">VIEW MORE..</a>
					</div>
				</div>
			</div>
			<hr color="violet" id="speak2influence">
			<div class="row">

				<div class="col-lg-12">
					<!-- blog post -->
					<div class="blog-post">
						<h3>Speak 2 Influence</h3>
						<img src="assets/images/mission/vm8.jpg" alt="vissoin">

						<div class="blog-metas">
							<div class="blog-meta author">
								<!-- <div class="post-author set-bg" data-setbg="assets/images/authors/1.jpg"></div> -->
								<a href="#">Hyderabad</a>
							</div>
							<div class="blog-meta">
								<a href="#">25-26 May 2019</a>
							</div>
							<div class="blog-meta">
								<a href="#" download>Download</a>
							</div>
						</div>
						<a href="#" class="site-btn readmore">VIEW MORE..</a>
					</div>
				</div>

			</div>
			<hr color="violet">
			<div class="row">
				<div class="col-lg-12">
					<!-- blog post -->
					<div class="blog-post">
						<h3>Rise Up</h3>
						<img src="assets/images/mission/riseup.jpg" alt="vissoin">

						<div class="blog-metas">
							<div class="blog-meta author">
								<!-- <div class="post-author set-bg" data-setbg="assets/images/authors/1.jpg"></div> -->
								<a href="#">Hyderabad</a>
							</div>
							<div class="blog-meta">
								<a href="#">22-23 April 2020</a>
							</div>
							<div class="blog-meta">
								<a href="#" download>Download</a>
							</div>
						</div>
						<a href="#" class="site-btn readmore">VIEW MORE..</a>
					</div>
				</div>
			</div>
			<hr color="violet">
			<div class="row">
				<div class="col-lg-12">
					<!-- blog post -->
					<div class="blog-post">
						<h3>Step Up</h3>
						<img src="assets/images/mission/stepup.jpg" alt="vissoin">
						<div class="blog-metas">
							<div class="blog-meta author">
								<!-- <div class="post-author set-bg" data-setbg="assets/images/authors/1.jpg"></div> -->
								<a href="#">Hyderabad</a>
							</div>
							<div class="blog-meta">
								<a href="#">22-23 April 2020</a>
							</div>
							<div class="blog-meta">
								<a href="#" download>Download</a>
							</div>
						</div>
						<a href="#" class="site-btn readmore">VIEW MORE..</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Page end -->
	<!-- banner section -->
	<section class="banner-section spad">
		<div class="container">
			<div class="section-title mb-0 pb-2">
				<h2>Call Us Now!</h2>
				<p>Ajaya Panda +91 90352 20017 </p>
				<p>Akash Dutta +91 98756 40857 </p>
			</div>
			<!-- <div class="text-center pt-5">
				<a href="#" class="site-btn">Look forward to serving you</a>
			</div> -->
		</div>
	</section>
	<!-- banner section end -->